*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #ecbdd55a;
}

h1 {
    padding: 150px;
    text-align: center;
    color: #F00E6C;
    transition: 0.5s;
}


li {
    list-style: none;
    position: relative;
    display: flex;
    padding: 15px;
    float: right;
    margin-top: 25px;   
}

.sobre, .contato, .produtos {
    text-decoration: none;
    color: #583903;
    font-size: 1.1rem;
    font-weight: 500;
}

#banner {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 1px;
    
}




footer {
    background-color: #0ECAF0;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
}

#developer {
    text-decoration: none;
    color: #583903;
    font-size: small;
}