*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #ecbdd5;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: right;
    padding: 20px;
}

.menu li{
    position: relative;
    float: left;
    padding: 20px;
}

.banner{
    margin: 0%;
    padding: 0%;
    width: 100vh;
}