*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #ecbdd55a;
}

h1 {
    padding: 10px;
    text-align: center;
    color: #F00E6C;
    transition: 0.5s;
    }

h3 {
    padding: 20px;
    text-align: center;
    color: #F00E6C;
    }

li {
    list-style: none;
    position: relative;
    display: flex;
    padding: 5px;
    float: right;
}

#banner {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 1px;
    
}




footer {
    background-color: #0ECAF0;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
}

#developer {
    text-decoration: none;
    color: #583903;
    font-size: small;
}